/* orderList */

.orderList{
    flex: 4;
    margin: 10px;
}

.orderTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.orderTitle{
    font-size: 2em;
    font-weight: bold;
}

.orderBottom{
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    height: 60%;
}

.orderListItem{
    display: flex;
    align-items: center;
}

.orderListImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.orderListEdit{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: darkblue;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.orderListDelete{
    color: red;
    cursor: pointer;
}

/* order view */

.orderShow{
    flex: 4;
}

.orderTop{
    display: flex;
    max-width: 500px;
}

.orderTopRight{
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
}

.orderViewInfoTop{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.orderInfoImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.orderName{
    font-weight: 600;
}


.ordersInfoItem{
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
}

/* order edit */

.order{
    flex: 4;
    padding: 20px;
}

.orderTitleContainer{
    margin-left: 15px;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.orderAddButton{
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.orderEditBottom{
    flex: 1;
    max-width: 500px;
    padding: 20px;
    margin: 20px;
}

.orderForm{
    display: flex;
    justify-content: space-between;
}

.orderHeading{
    font-weight: 400;
    margin-bottom: 10px;
}

.orderItemNameContainer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.orderUpdateItemName{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.orderUpdateForm{
    display: flex;
    justify-content: space-evenly;
}

.orderUpdateItem{
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.orderUpdateItemName>label{
    margin-bottom: 5px;
    font-size: 14px;
}

.orderUpdateInputName{
    display: flex;
    /* background-color: rgba(128, 128, 128, 0.15); */
    border-radius: 5px;
    width: 220px;
    height: 20px;
    /* border: none; */
    border: 1px solid rgb(199, 196, 196);
    padding: 10px;
}

.orderUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
}

.orderUpdateInput{
    /* background-color: rgba(128, 128, 128, 0.15); */
    border-radius: 5px;
    width: 480px;
    height: 20px;
    /* border: none; */
    border: 1px solid rgb(199, 196, 196);
    padding: 10px;
}

.orderUpdateRight{
    display: flex;
    max-width: 500px;
}

.orderUpdateUpload{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
}

.orderUpdateImg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.orderImgUploadButton{
    max-width: 400px;
    margin-left: 15px;
    margin-top: -10px;
    display: flex;
    align-items: center;
}

.orderImageUploadBtn{
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.imgUploadBtnUpload{
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(2, 2, 160);
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.ImgUploadBtnRemove{
    border: none;
    padding: 10px;
    margin-left: 15px;
    border-radius: 5px;
    background-color: rgb(226, 221, 221);
    font-weight: 600;
    cursor: pointer;
}

.orderImageDescriptn{
    padding-left: 5px;
    padding-top: 10px;
    font-size: 14px;
}

.orderUpdateButton{
    margin-top: 50px;
    margin-left: 30%;
    width: 200px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(2, 2, 160);
    color: white;
    font-weight: 600;
    cursor: pointer;
}

/* new Order */

.newOrder{
    flex: 4;
}

.newOrderTitle{
    padding-left: 15px;
}

.addOrderForm{
    margin-top: 10px;
    flex: 1;
    max-width: 500px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
}

.addOrderItem{
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.addOrderItem>label{
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
}

.addOrderItem>input{
    padding: 10px;
}

.addOrderItem>select{
    padding: 10px;
}

.addOrderButton{
    margin-top: 10px;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
}