.gym{
    flex: 4;
}

.gymContainer{
    flex: 1;
    padding: 20px;
    max-width: 500px;
    margin: 20px;
    box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75); 
}

.gymTitle{
    margin-bottom: 10px;
}

.gymDescription{
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.gymContainerTwo{
    flex: 1;
    padding: 20px;
    margin: 20px;
    max-width: 500px;
    box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
}

.gymViewImage{
    width: 500px;
    height: 400px;
    object-fit: cover;
    margin-right: 20px;
}

.gymDescriptionContainer{
    margin-top: 5px;
}

.gymDescriptionText{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: justify;
}

.gymList{
    flex: 4;
}

.gymTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.allGymTitle{
    font-size: 2em;
    font-weight: bold;
    padding-left: 15px;
}

.gymBottom{
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    height: 60%;
}

/* gymEdit */

.gymEdit{
    flex: 4;
    padding: 20px;
}

.gymEditTitleContainer{
    margin-left: 15px;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gymEditAddButton{
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.gymEditContainer{
    display: flex;
    margin-top: 20px;
}

.gymEditUpdate{
    flex: 2;
    max-width: 500px;
    padding: 20px;
}

.gymEditHeading{
    font-weight: 400;
    margin-bottom: 10px;
}

.gymEditItemNameContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5px;
}

.gymEditUpdatePackage{
    margin-bottom: 5px;
    font-size: 14px;
}

.gymEditSubTopics{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gymEditUpdateItemName{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.gymEditUpdateForm{
    display: flex;
    justify-content: space-evenly;
}

.gymEditUpdateItem{
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.gymEditUpdateItemName>label{
    margin-bottom: 5px;
    font-size: 14px;
}

.gymEditUpdateInputName{
    display: flex;
    /* background-color: rgba(128, 128, 128, 0.15); */
    border-radius: 5px;
    width: 220px;
    height: 20px;
    /* border: none; */
    border: 1px solid rgb(199, 196, 196);
    padding: 10px;
}

.gymEditUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
}

.gymEditUpdateInput{
    /* background-color: rgba(128, 128, 128, 0.15); */
    border-radius: 5px;
    width: 480px;
    height: 20px;
    /* border: none; */
    border: 1px solid rgb(199, 196, 196);
    padding: 10px;
}

.gymEditUpdateRight{
    display: flex;
    max-width: 500px;
}

.gymEditUpdateUpload{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
}

.gymEditUpdateImg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.gymEditImgUploadButton{
    max-width: 400px;
    margin-left: 15px;
    margin-top: -10px;
    display: flex;
    align-items: center;
}

.gymEditImageUploadBtn{
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.imgUploadBtnUpload{
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(2, 2, 160);
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.ImgUploadBtnRemove{
    border: none;
    padding: 10px;
    margin-left: 15px;
    border-radius: 5px;
    background-color: rgb(226, 221, 221);
    font-weight: 600;
    cursor: pointer;
}

.gymEditImageDescriptn{
    padding-left: 5px;
    padding-top: 10px;
    font-size: 14px;
}

.gymEditUpdateButton{
    margin-top: 50px;
    margin-left: 30%;
    width: 200px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(2, 2, 160);
    color: white;
    font-weight: 600;
    cursor: pointer;
}

/* NewGym */

.newGym{
    flex: 4;
}

.newGymTitle{
    padding-left: 15px;
}

.addGymForm{
    max-width: 500px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
}

.addGymItem{
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.addGymItem>label{
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
}

.addGymItem>input{
    padding: 10px;
}

.addGymItemPackage>label{
    margin-bottom: 10px;
    color: gray;
    display: flex;
    justify-content: space-between;
}

.addGymItemPackage>input{
    width: 485px;
    margin-bottom: 10px;
    padding: 5px;
}

.addGymItem>select{
    padding: 10px;
}

.addGymButton{
    margin-top: 10px;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

/* subscription edit */

.subscriptionEdit{
    flex: 4;
    padding: 20px;
}

.subEditTitleContainer{
    margin-left: 15px;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subscriptionEditAddButton{
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.gymSubContainer{
    display: flex;
    margin-top: 20px;
}

.gymSubUpdate{
    flex: 2;
    max-width: 500px;
    padding: 20px;
}

.gymSubHeading{
    font-weight: 400;
    margin-bottom: 10px;
}

.gymSubItemNameContainer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.gymSubUpdatePackage{
    margin-bottom: 5px;
    font-size: 14px;
}

.gymSubSubTopics{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gymSubUpdateItemName{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.gymSubUpdateForm{
    display: flex;
    justify-content: space-evenly;
}

.gymSubUpdateItem{
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.gymSubUpdateItemName>label{
    margin-bottom: 5px;
    font-size: 14px;
}

.gymSubUpdateInputName{
    display: flex;
    /* background-color: rgba(128, 128, 128, 0.15); */
    border-radius: 5px;
    width: 220px;
    height: 20px;
    /* border: none; */
    border: 1px solid rgb(199, 196, 196);
    padding: 10px;
}

.gymSubUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
}

.gymSubUpdateInput{
    /* background-color: rgba(128, 128, 128, 0.15); */
    border-radius: 5px;
    width: 480px;
    height: 20px;
    /* border: none; */
    border: 1px solid rgb(199, 196, 196);
    padding: 10px;
}

.gymSubUpdateRight{
    display: flex;
    max-width: 500px;
}

.gymSubUpdateUpload{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
}

.gymSubUpdateImg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.gymSubImgUploadButton{
    max-width: 400px;
    margin-left: 15px;
    margin-top: -10px;
    display: flex;
    align-items: center;
}

.gymSubImageUploadBtn{
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.imgUploadBtnUpload{
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(2, 2, 160);
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.ImgUploadBtnRemove{
    border: none;
    padding: 10px;
    margin-left: 15px;
    border-radius: 5px;
    background-color: rgb(226, 221, 221);
    font-weight: 600;
    cursor: pointer;
}

.gymSubImageDescriptn{
    padding-left: 5px;
    padding-top: 10px;
    font-size: 14px;
}

.gymSubUpdateButton{
    margin-top: 50px;
    margin-left: 30%;
    width: 200px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(2, 2, 160);
    color: white;
    font-weight: 600;
    cursor: pointer;
}

/* subscription view */

.subscriptionView{
    flex: 4;
}

.subscriptionViewContainer{
    flex: 1;
    max-width: 500px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75); 
}

.subscriptionViewTitle{
    margin-bottom: 10px;
}

.subscriptionViewDescription{
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.subViewPackageDuration{
    width: 485px;
    padding-top: 10px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
}

.subViewPackagePrice{
    width: 485px;
    padding-left: 15px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}

.subscriptionViewContainerTwo{
    flex: 1;
    padding: 20px;
    margin: 20px;
    max-width: 500px;
    box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
}

.subscriptionViewViewImage{
    width: 500px;
    height: 400px;
    object-fit: cover;
    margin-right: 20px;
}

.subscriptionViewDescriptionContainer{
    margin-top: 5px;
}

.subscriptionViewDescriptionText{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: justify;
}