.product{
    flex: 4;
    padding: 20px;
}

.productTitleContainer{
    margin-left: 15px;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productAddButton{
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.productBottom{
    flex: 2;
    max-width: 500px;
    padding: 20px;
}

.productHeading{
    font-weight: 400;
    margin-bottom: 10px;
}

.productItemNameContainer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.productUpdateItemName{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.productUpdateForm{
    display: flex;
    justify-content: space-evenly;
}

.productUpdateItem{
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.productUpdateItemName>label{
    margin-bottom: 5px;
    font-size: 14px;
}

.productUpdateInputName{
    display: flex;
    /* background-color: rgba(128, 128, 128, 0.15); */
    border-radius: 5px;
    width: 220px;
    height: 20px;
    /* border: none; */
    border: 1px solid rgb(199, 196, 196);
    padding: 10px;
}

.productUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
}

.productUpdateInput{
    /* background-color: rgba(128, 128, 128, 0.15); */
    border-radius: 5px;
    width: 480px;
    height: 20px;
    /* border: none; */
    border: 1px solid rgb(199, 196, 196);
    padding: 10px;
}

.productUpdateRight{
    display: flex;
    max-width: 500px;
}

.productUpdateUpload{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
}

.productUpdateImg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.productImgUploadButton{
    max-width: 400px;
    margin-left: 15px;
    margin-top: -10px;
    display: flex;
    align-items: center;
}

.productImageUploadBtn{
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.imgUploadBtnUpload{
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(2, 2, 160);
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.ImgUploadBtnRemove{
    border: none;
    padding: 10px;
    margin-left: 15px;
    border-radius: 5px;
    background-color: rgb(226, 221, 221);
    font-weight: 600;
    cursor: pointer;
}

.productImageDescriptn{
    padding-left: 5px;
    padding-top: 10px;
    font-size: 14px;
}

/* .productUpdateIcon{
    cursor: pointer;
} */

.productUpdateButton{
    margin-top: 50px;
    margin-left: 30%;
    width: 200px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(2, 2, 160);
    color: white;
    font-weight: 600;
    cursor: pointer;
}