.user{
    flex: 4;
    padding: 20px;
}

.userTitleContainer{
    margin-left: 15px;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userAddButton{
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.userContainer{
    display: flex;
    margin-top: 20px;
}

.userUpdate{
    flex: 2;
    max-width: 500px;
    padding: 20px;
    /* box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75); */
}

.userHeading{
    font-weight: 400;
    margin-bottom: 10px;
}

.userItemNameContainer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.userUpdateItemName{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.userUpdateForm{
    display: flex;
    justify-content: space-evenly;
}

.userUpdateItem{
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.userUpdateItemName>label{
    margin-bottom: 5px;
    font-size: 14px;
}

.userUpdateInputName{
    display: flex;
    /* background-color: rgba(128, 128, 128, 0.15); */
    border-radius: 5px;
    width: 220px;
    height: 20px;
    /* border: none; */
    border: 1px solid rgb(199, 196, 196);
    padding: 10px;
}

.userUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
}

.userUpdateInput{
    /* background-color: rgba(128, 128, 128, 0.15); */
    border-radius: 5px;
    width: 480px;
    height: 20px;
    /* border: none; */
    border: 1px solid rgb(199, 196, 196);
    padding: 10px;
}

.userUpdateRight{
    display: flex;
    max-width: 500px;
}

.userUpdateUpload{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
}

.userUpdateImg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.userImgUploadButton{
    max-width: 400px;
    margin-left: 15px;
    margin-top: -10px;
    display: flex;
    align-items: center;
}

.userImageUploadBtn{
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.imgUploadBtnUpload{
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(2, 2, 160);
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.ImgUploadBtnRemove{
    border: none;
    padding: 10px;
    margin-left: 15px;
    border-radius: 5px;
    background-color: rgb(226, 221, 221);
    font-weight: 600;
    cursor: pointer;
}

.userImageDescriptn{
    padding-left: 5px;
    padding-top: 10px;
    font-size: 14px;
}

.userUpdateIcon{
    cursor: pointer;
}

.userUpdateButton{
    margin-top: 50px;
    margin-left: 30%;
    width: 200px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(2, 2, 160);
    color: white;
    font-weight: 600;
    cursor: pointer;
}