.dropdown{
    margin-left: -5px;
    margin-right: -5px;
}

.dropdownMenu{
    color: #555;
}

.dropdownListItem{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdownIcon{
    margin-right: 5px;
    font-size: 20px;
}

.dropdownList{
    list-style: none;
    margin: 2px 0px;
}