.dropdown{
    margin-left: -5px;
    margin-right: -5px;
}

.dropdownMenu{
    color: #555;
}

.dropdownListItem{
    /* padding: 5px; */
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdownList{
    list-style: none;
    padding-top: 5px;
    margin: 2px 0px;
}

.dropdownIcon{
    margin-right: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.dropdownListItemDetails{
    padding-bottom: 10px;
    padding-top: 5px;
}

.sidebarListItemDropdown{
    display: flex;
    align-items: center;
}