.dropdown{
    flex: 1;
}

.dropdownMenu{
    color: #555;
}

.dropdownIcon{
    margin-right: 5px;
    font-size: 20px;
}

.dropdownListItem{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropdownList{
    list-style: none;
}